<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./login.css" />
  </head>
  <body class="bg-gray-50">
    <div
      class="max-w-5xl mx-auto my-10 p-8 bg-white shadow-lg rounded-lg main-box"
    >
      <div class="mb-6">
        <div class="w-full h-20 rounded-lg head">
          <div class="title-image"><img src="../image/logo.png" /></div>
          <div class="title"></div>
        </div>
        <div class="input">
          <input
            type="text"
            placeholder="이메일"
            class="w-1/2 h-10 p-4 border border-gray-300 rounded-md"
          />
        </div>
        <div class="input">
          <input
            type="text"
            placeholder="비밀번호"
            class="w-1/2 h-10 p-4 border border-gray-300 rounded-md"
          />
        </div>
        <div class="link">
          아직 회원이 아니신가요? <a href="">여기를 눌러서</a> 회원가입을 진행해 주세요!
        </div>
        <div class="input">
          <button type="button" id="submit">로그인</button>
        </div>
        <div class="link">
          혹시 사장님이시라면? <a href="">여기</a>!
        </div>
      </div>
    </div>
  </body>
</html>