<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>수라상을 차리거라</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" defer src="../public/login.public.js"></script>
    <link rel="stylesheet" href="./login.css" />
  </head>
  <body class="bg-gray-50">
    <div class="nav1">
      <div class="btn-box">
        <button id="cart"><img src="../image/cart.png" /></button>
        <button id="my-page"><img src="../image/user.png" /></button>
        <button id="join">회원가입</button>
      </div>
    </div>
    <div class="nav2">
      <div class="logo-image"><img src="../image/logo.png" /></div>
    </div>
    <div
      class="max-w-5xl mx-auto my-10 p-8 bg-white shadow-lg rounded-lg main-box"
    >
      <div class="title-image"><img src="../image/logo.png" /></div>
      <div class="input">
        <input
          type="text"
          placeholder="이메일"
          class="w-1/2 h-10 p-4 border border-gray-300 rounded-md"
        />
      </div>
      <div class="input">
        <input
          type="text"
          placeholder="비밀번호"
          class="w-1/2 h-10 p-4 border border-gray-300 rounded-md"
        />
      </div>
      <div class="link">
        아직 회원이 아니신가요? <a href="">여기를 눌러서</a> 회원가입을 진행해
        주세요!
      </div>
      <div class="input">
        <button type="button" id="submit">수라상을 차리거라!</button>
      </div>
      <div class="link">혹시 사장님이시라면? <a href="">여기</a>!</div>
    </div>
  </body>
</html>
