.nav1 {
  height: 40px;
  background-color: #df5536;
}

.nav2 {
  display: flex;
  height: 180px;
  background-color: #df5536;
  position: relative;
}

.logo-image {
  width: 17%;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.logo-image > img {
  width: 100%;
}

.btn-box {
  float: right;
}

button > img {
  width: 100%;
}

#join {
  background-color: white;
  width: 80px;
  height: 27px;

  color: rgb(40, 39, 39);
  border: none;
  border-radius: 5px;

  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

#cart {
  background-color: white;
  width: 27px;
  height: 27px;
  border: none;
  border-radius: 5px;

  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

#my-page {
  background-color: white;
  width: 27px;
  height: 27px;
  border: none;
  border-radius: 5px;

  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.main-box {
  margin-top: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title-image {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: #df5536;
  width: 480px;
  border-radius: 20px;
  height: 120px;
  color: white;
  font-size: 50px;
  padding-top: 23px;
}

.title-image > img {
  position: absolute;
  bottom: -25px;
  left: 115px;
  width: 70%;
  height: 200px;
}

#submit {
  background-color: #df5536;
  color: white;
  font-size: 1.4rem;
  width: 50%;
  height: 60px;

  border-radius: 10px;
}

.input {
  margin-top: 20px;
  margin-bottom: 15px;
  color: #a4a6a7;
}

.link {
  font-size: 0.7rem;
  margin-bottom: 15px;
}
.cart-container {
  max-width: 100%;
  margin: 0 auto 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  align-items: center;
  position: relative;
}

.cart-item img {
  width: 200px; 
  margin-right: 10px; 
}

.item-info {
  align-self: auto;
}

.item-description {
  position: absolute;
  bottom: 0; 
  right: 0; 
  text-align: right;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-btn {
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 5px;
}

.remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}