<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>수라간 등록</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./restaurant-enroll.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="./public/restaurant.enroll.public.js"></script>
  </head>

  <body class="bg-gray-50">
    <div
      class="max-w-5xl mx-auto my-10 p-8 bg-white shadow-lg rounded-lg main-box"
    >
      <div class="mb-6">
        <div class="w-full h-20 rounded-lg head">
          <div class="queen"><img src="../image/queen.png" /></div>
          <div class="title">수라간 등록</div>
        </div>

        <div class="input">
          <input
            type="text"
            placeholder="가게이미지 주소"
            id="image"
            class="w-1/2 h-10 p-4 border border-gray-300 rounded-md"
          />
        </div>
        <div class="input">
          <input
            type="text"
            placeholder="상호명"
            id="name"
            class="w-1/2 h-10 p-4 border border-gray-300 rounded-md"
          />
        </div>
        <div class="input">
          <input
            type="text"
            placeholder="가게 주소"
            id="address"
            class="w-1/2 h-10 p-4 border border-gray-300 rounded-md"
          />
        </div>
        <div class="input">
          <input
            type="text"
            placeholder="가게 소개"
            id="introduce"
            class="w-1/2 h-10 p-4 border border-gray-300 rounded-md"
          />
        </div>
        <div class="input">
          <input
            type="text"
            placeholder="영업 시간"
            id="businessHours"
            class="w-1/2 h-10 p-4 border border-gray-300 rounded-md"
          />
        </div>
        <div class="input">
          <input
            type="text"
            placeholder="업장 전화번호"
            id="phoneNumber"
            class="w-1/2 h-10 p-4 border border-gray-300 rounded-md"
          />
        </div>
        <div class="input">
          <select
            id="category"
            class="w-1/2 h-10 p-2 border border-gray-300 rounded-md"
            name="category"
          >
            <option selected disabled>업종</option>
            <option value="1">1인분</option>
            <option value="2">치킨</option>
            <option value="3">중국집</option>
            <option value="4">한식</option>
            <option value="5">피자 / 양식</option>
            <option value="6">야식</option>
            <option value="7">일식 / 돈까스</option>
            <option value="8">족발 / 보쌈</option>
            <option value="9">카페 / 디저트</option>
            <option value="10">편의점 / 마트</option>
            <option value="11">패스트푸드</option>
            <!-- 필요한 만큼 옵션을 추가할 수 있습니다 -->
          </select>
        </div>
        <!-- <div class="input">
          <input
            type="text"
            placeholder="비밀번호"
            class="w-1/2 h-10 p-4 border border-gray-300 rounded-md"
          />
        </div>
        <div class="input">
          <input
            type="text"
            placeholder="비밀번호 확인"
            class="w-1/2 h-10 p-4 border border-gray-300 rounded-md"
          />
        </div> -->
        <div class="input">
          <button type="button" id="submit">수라간 등록</button>
        </div>
      </div>
    </div>
  </body>
</html>
