<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>수라간 리스트</title>
    <link rel="stylesheet" href="./restaurants-list.css"" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- <script defer src="./public/restaurant.public.js"></script> -->
    <script defer src="./public/index.public.js"></script>
  </head>
  <body>
    <div class="nav1">
      <div class="btn-box">
        <button id="cart"><img src="../image/cart.png" /></button>
        <button id="my-page"><img src="../image/user.png" /></button>
        <button id="join">회원가입</button>
      </div>
    </div>
    <div class="nav2">
      <div class="logo-image"><img src="../image/logo.png" /></div>
    </div>
    <div class="main-image">
      <input
        class="search-input"
        type="text"
        placeholder="수라간 / 차림메뉴 검색"
      />
      <div class="search-btn">
        <button><img src="../image/search.png" /></button>
      </div>
    </div>
    <div class="category-list">
      <div class="category"><button>전체보기</button></div>
      <div class="category"><button>1인분</button></div>
      <div class="category"><button>치킨</button></div>
      <div class="category"><button>중국집</button></div>
      <div class="category"><button>한식</button></div>
      <div class="category"><button>피자 / 양식</button></div>
      <div class="category"><button>야식</button></div>
      <div class="category"><button>일식 / 돈까스</button></div>
      <div class="category"><button>족발 / 보쌈</button></div>
      <div class="category"><button>카페 / 디저트</button></div>
      <div class="category"><button>편의점 / 마트</button></div>
      <div class="category"><button>패스트푸드</button></div>
    </div>

    <script>
      const receivedData = location.href.split("?");
      console.log(JSON.stringify(receivedData));
    </script>
  </body>
</html>
