.main-box {
  height: 800px;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  font-size: 3em;
}

.queen {
  margin: 0px;
  padding: 0px;
  width: 60px;
  margin-right: 2%;
}

#submit {
  background-color: #df5536;
  color: white;
  font-size: 1.4rem;
  width: 20%;
  height: 80px;

  border-radius: 20px;
}

.input {
  margin-bottom: 15px;
  color: #a4a6a7;
}

.row-align {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.auth-btn {
  background-color: #df5536;
  color: white;
  font-size: 1.2rem;
  width: 16%;
  height: 40px;
  border-radius: 7px;
  margin-left: 5px;
}
