<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>수라간 리스트</title>
  <link rel="stylesheet" href="./restaurants-list.css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script defer src="./public/restaurant.list.public.js"></script>
  <!-- <script src="./public/restaurant.search.public.js"></script> -->
</head>

<body>
  <div class="nav1">
    <div class="btn-box">
      <button id="cart" style="display: none;"><img src="./image/cart.png" /></button>
      <button id="my-page" style="display: none;"><img src="./image/user.png" /></button>
      <button id="join-owner" style="display: none;">수라간등록</button>
      <button id="owner-page" style="display: none;">마이수라간</button>
      <button id="logout" style="display: none;">로그아웃</button>
      <button id="login">로그인</button>

    </div>
  </div>
  <div class="nav2">
    <div class="logo-image"><img src="../image/logo.png" id="gohome" /></div>
  </div>
  <div class="main-image">
    <div class="searchbox">
      <div class="searchbox-text">"오늘의 수라상은?"</div>
      <input class="search-input" type="text" placeholder="수라간 / 차림메뉴 검색" />
    </div>
    <div class="search-btn">
      <button><img src="./image/search.png" /></button>
    </div>
  </div>
  <div class="category-list">
    <div class="category" data-categories="all">
      <button>전체보기</button>
    </div>
    <div class="category" data-categories="1"><button>1인분</button></div>
    <div class="category" data-categories="2"><button>치킨</button></div>
    <div class="category" data-categories="3"><button>중국집</button></div>
    <div class="category" data-categories="4"><button>한식</button></div>
    <div class="category" data-categories="5">
      <button>피자 / 양식</button>
    </div>
    <div class="category" data-categories="6"><button>야식</button></div>
    <div class="category" data-categories="7">
      <button>일식 / 돈까스</button>
    </div>
    <div class="category" data-categories="8">
      <button>족발 / 보쌈</button>
    </div>
    <div class="category" data-categories="9">
      <button>카페 / 디저트</button>
    </div>
    <div class="category" data-categories="10">
      <button>편의점 / 마트</button>
    </div>
    <div class="category" data-categories="11">
      <button>패스트푸드</button>
    </div>
  </div>
  <div id="restaurants-list" class="main-box"></div>
</body>

</html>