.nav1 {
  height: 40px;
  background-color: #df5536;
}

.nav2 {
  display: flex;
  height: 180px;
  background-color: #df5536;
  position: relative;
}

.logo-image {
  width: 17%;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.logo-image > img {
  width: 100%;
}

.btn-box {
  float: right;
}

button > img {
  width: 100%;
}

#join {
  background-color: white;
  width: 80px;
  height: 27px;

  color: rgb(40, 39, 39);
  border: none;
  border-radius: 5px;

  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

#cart {
  background-color: white;
  width: 27px;
  height: 27px;
  border: none;
  border-radius: 5px;

  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

#my-page {
  background-color: white;
  width: 27px;
  height: 27px;
  border: none;
  border-radius: 5px;

  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.item-list {
  margin-left: 0px;
  margin-top: 10px;
}
.item-set01 {
  width: 209px;
  height: 50px;
  background-color: #efefef;
  text-align: center;
  line-height: 50px;
}
/* Menu */
.item-menu {
}
.item-info {
}
.item-review {
  background-color: white;
  border-top: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}
.item-content {
  width: 627px;
  border: 1px solid #d3d3d3;
  border-top: 0px;
}
.span-gray {
  color: #9f9f9f;
}
.td1 {
  color: #20c3c3;
}
.review-write-align {
  height: 30px;
}
.review-write {
  position: absolute;
  left: 525px;
}
.review-align {
  text-align: center;
}
.review-align > p {
  text-align: right;
}
.review-set {
  margin-left: 0px;
}
.review-info-grid {
  margin-left: 10px;
}
.review-info-grid > h6 {
  position: relative;
  top: 3px;
  left: 10px;
}
.review-title {
  margin-top: 10px;
}
.review-text {
  margin-top: -15px;
  margin-left: 10px;
}
.review-stars-png {
  position: relative;
  top: -4px;
  left: 10px;
}
.td2 {
  margin-left: 20px;
}

.container-custom {
  width: 1000px;
  position: relative;
  left: 50%;
  margin-left: -500px;
  margin-top: 80px;
}
.item-content {
  margin-left: 0px;
  padding: 10px;
}
.item-main {
  width: 650px;
  height: 1000px;
  padding: 10px;
}
.item-side {
  width: 350px;
  height: 1000px;
  border-left: 0px;
}
.item-card {
  margin-left: 0px;
  width: 627px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.item-card-main {
  padding: 10px;
}
.item-card-info {
  margin-top: 15px;
}
.item-card-info > p {
  font-size: 15px;
  line-height: 10px;
  color: #7c7c7c;
}
.pblack {
  color: #000000 !important;
}
.item-title {
  font-size: 20px !important;
  margin-left: 5px;
  margin-top: 5px;
}
.item-score {
  margin-top: 20px;
}
.item-icon {
  width: 25px;
  font-size: 22px;
  margin-top: -13px;
  margin-left: 5px;
  position: relative;
  top: 5px;
  color: #ffe200;
}
.pay-way {
  margin-left: 5px;
}
.minimum-pay {
  margin-left: 5px;
}
.basket {
  margin-top: 10px;
}
.basket-header {
  width: 300px;
  background-color: #df5536;
  text-align: left;
  padding: 5px;
}
.basket-body {
  width: 300px;
  height: 200px;
  border: 1px solid #d3d3d3;
  border-top: 0px;
  padding: 10px;
}
.list01 {
}
.list01 > p {
  margin-bottom: -5px;
}
.item-count {
  position: relative;
  left: 130px;
}
.item-count > .bt {
  background-color: white;
  border: 1px solid gray;
  width: 20px;
  cursor: pointer;
}
.item-count > .bt-count {
  border-left: 0px;
  border-right: 0px;
  cursor: default;
}
.basket-sum {
  width: 300px;
  height: 50px;
  background-color: #f2f2f2;
  border: 1px solid #d3d3d3;
  border-top: 0px;
}
.basket-sum > p {
  margin-bottom: 0px;
  text-align: right;
  margin-right: 10px;
  line-height: 50px;
  color: #f00000;
}
.btn-set01 {
  width: 300px;
  margin-top: 5px;
}
/* grid end */
/* Modal */
.modal-body {
  padding: 30px !important;
}
.alert-second {
  font-size: 12px;
}
