<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="C:\Users\gksmf\OneDrive\바탕 화면\임금님밥상\image\peach.png">
  <title>임금님 밥상</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="./user-page.css" />
</head>

<body class="bg-gray-50">
  <div class="max-w-5xl mx-auto my-10 p-8 bg-white shadow-lg rounded-lg main-box">
    <div class="mb-6">
      <div class="w-full h-20 rounded-lg head">
        <div class="king"><img src="../image/king.png" /></div>
        <div class="title">도원결의</div>
      </div>
      <div class="input row-align">
        <input type="text" placeholder="이메일" class="w-1/3 h-10 p-4 border border-gray-300 rounded-md" />
        <button class="auth-btn" id="auth-submit">인증번호전송</button>
      </div>
      <div class="input row-align">
        <input type="text" placeholder="이메일 인증번호" class="w-1/3 h-10 p-4 border border-gray-300 rounded-md" />
        <button class="auth-btn" id="auth-check">인증확인</button>
      </div>
      <div class="input">
        <input type="text" placeholder="닉네임" class="w-1/2 h-10 p-4 border border-gray-300 rounded-md" />
      </div>
      <div class="input">
        <input type="text" placeholder="주소" class="w-1/2 h-10 p-4 border border-gray-300 rounded-md" />
      </div>
      <div class="input">
        <input type="text" placeholder="비밀번호" class="w-1/2 h-10 p-4 border border-gray-300 rounded-md" />
      </div>
      <div class="input">
        <input type="text" placeholder="비밀번호 확인" class="w-1/2 h-10 p-4 border border-gray-300 rounded-md" />
      </div>
      <div class="input">
        <button type="button" id="submit">호형호제<p>가보자고!</p></button>
      </div>
    </div>
  </div>
</body>

</html>